<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--

		Purpose: This include file shows how to configure a site-specific custom crawler for Sitemap.XML file generation.

		To enable this, rename this file so that it has a ".config" extension and 
		change all the parameters to suit your own scenario

		-->
		
		<constellation>
			<sitemapXml>
				<crawlers>
					<site name="examplesiteproject">
						<crawler type="Website.Crawlers.TreeCrawler, Website" />
					</site>
				</crawlers>
			</sitemapXml>
		</constellation>
	</sitecore>
</configuration>
