<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<!--
				Label Item Resolver
				
				Takes URLs that begin with /labels and (if they don't have a valid context item) attempts to assign a true Label Group Item to the Context Item.
				
				Will attempt to locate a Label Item at {site-root-path}/labels/{url-file-path}
				
				if this fails, it will attempt to locate a Label item at /sitecore/content/labels/{url-file-path}
				
				-->
				<processor
					type="Foundation.Labels.Pipelines.LabelItemResolver, Foundation.Labels"
					patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
					<databasesToIgnore>core, master</databasesToIgnore>
					<sitesToIgnore>shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher</sitesToIgnore>
					<pathsToIgnore>/sitecore,/trace,/layouts,/_dev,/_DEV</pathsToIgnore>
				</processor>
			</httpRequestBegin>
		</pipelines>
		<settings>
			<setting name="Foundation.Labels.LabelFolderName" value="_labels" />
			<setting name="Foundation.Labels.LabelFolderDisplayName" value="Labels" />
			<setting name="Foundation.Labels.IncludeFeatureFoldersInPath" value="true" />
			<setting name="Foundation.Labels.LabelUrlPrefix" value="/labels" />
		</settings>
	</sitecore>
</configuration>