<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--
	================================================================
	IMPORTANT!!!! THIS FILE WILL NOT BE COPIED TO DEPLOYMENT TARGETS
	================================================================
	
	Ensure that the Visual Studio Properties for this file are:
	
	Build Action: None
	Copy to Output Directory: Do not copy
	
	Otherwise, you will disable your target installation.
	
	You must manually place a copy of this file on each deployment target and
	adjust the values here to match that environment, particularly:
	
	EmailReminder.FromAddress
	role:define
	env:define
	security:define
	owin:AppStartup
	exmEnabled
	
	
	Failure to have this file on the target will raise a Web.Config error on load.
	-->

	<add key="EmailReminder.FromAddress" value="name@server.net" />
	<!-- NetSpell directory -->
	<add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
	<add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
	<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
	<!-- Telerik keys -->
	<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
	<add key="Telerik.Upload.ConfigurationHashKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
	<add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
	<!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
	<add key="aspnet:RequestQueueLimitPerSession" value="25" />
	<!-- SUPPORTED SERVER ROLES     
		Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

			ContentDelivery
			ContentManagement
			Processing
			Reporting
			Standalone
		  
		Default value: Standalone
		-->
	<add key="role:define" value="Standalone" />

	<!-- SUPPORTED ENVIRONMENTS 
		Specify the Environments for this server.  Valid Values are:
		
			Local
			DevCM
			DevCD
			QACM
			QACD
			ProdCM
			ProdCD
		
		Default value: Local
		-->
	<add key="env:define" value="Local"/>
	<!-- SUPPORTED SEARCH PROVIDERS     
		Specify the search provider that you want this server to use. The supported search providers are:

			Lucene
			Solr
			Azure

		Default value: Lucene
		-->
	<add key="search:define" value="Solr" />
	<!-- SUPPORTED MEMBERSHIP CONFIGURATION FOR CONTENT DELIVERY
		Specify the membership configuration that you want this server to use for Content Delivery role. The supported options are:

			Sitecore
			None

		Default value: Sitecore
		-->
	<add key="security:define" value="Sitecore" />
	<add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin" />
	<add key="eds:define" value="CustomSMTP" />
	<add key="exmEnabled:define" value="no" />
	<add key="AllowInvalidClientCertificates" value="false" />
	<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
	<add key="Telerik.Upload.ConfigurationHashKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
	<add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="inGu7AsCsgXT5E7dCids62PQlRlHFQLx2UcFRyrWEnlvQW6IUU8YOICoGCw37DY6rhtL1rBQQrXzdPsy6RilGcJ6G7SiTN7wDmfZWH7DogcDSBpBa8KBI2YmOJis7ADh4AsMK8FY8Y98GOw04sleV57B02tz4vhaLKURx4iApPH3Ohr9txZzGsbqCGhFC08ghI3eGgMYYxY3WxfmgFLP6A7bOHRfydiY4fdFnJO0I2scU3iAdwpoSSc9E1LvHDFj" />
</appSettings>