<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
	  <!--

Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->
	<sites env:require="QACM">
		<site patch:before="site[@name='website']" 
		      name="projectName"
		      hostName="cm.projectName.yourserver.dev"
		      targetHostName="cm.projectName.yourserver.dev"
		      scheme="http"
		      language="en"
		      virtualFolder="/"
		      physicalFolder="/"
		      rootPath="/sitecore/content/Example Tenant/Example Site"
		      startItem="/home"
		      database="web"
		      domain="extranet"
		      cacheHtml="true"
		      htmlCacheSize="200MB"
		      registryCacheSize="0"
		      viewStateCacheSize="0"
		      xslCacheSize="2MB"
		      filteredItemsCacheSize="2MB"
		      allowDebug="true"
		      enablePreview="true"
		      enableWebEdit="true"
		      enableDebugger="true"
		      disableClientData="false" 
		/>
	</sites>
  </sitecore>
</configuration>