<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--

		Purpose: This include file ensures the projectName's site has its caches cleared after publication.

		To enable this, rename this file so that it has a ".config" extension and 
		change all the parameters to suit your own scenario

		-->
		<events>
			<event name="publish:end">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site name="projectName">projectName</site>
					</sites>
				</handler>
			</event>
			<event name="publish:end:remote">
				<handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
					<sites hint="list">
						<site name="projectName">projectName</site>
					</sites>
				</handler>
			</event>
		</events>
	</sitecore>
</configuration>
