<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--

		Purpose: This include file shows how to specify which page on your site is responsible for handling 404 conditions.

		To enable this, rename this file so that it has a ".config" extension and 
		change all the parameters to suit your own scenario

		-->
		<sites>
			<site name="projectName">
				<patch:attribute name="notFoundPageID">{00000000-0000-0000-0000-00000000}</patch:attribute>
			</site>
		</sites>
	</sitecore>
</configuration>
