<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--

		Purpose: This include file shows how to configure site-specific URL generation settings.

		To enable this, rename this file so that it has a ".config" extension and 
		change all the parameters to suit your own scenario

		-->


		<!-- Options (first is default):
		   addAspxExtension: false | true (If you set this to false, remember to configure IIS to map all requests (*) to ASP.NET)
		   alwaysIncludeServerUrl: false | true
		   encodeNames: true | false
		   languageEmbedding: asNeeded | always | never
		   languageLocation: filePath | queryString
		   lowercaseUrls: true | false
		   shortenUrls: true | false
		   useDisplayName: false | true
		-->
		<linkManager defaultProvider="sitecore">
			<providers>
				<!-- Link Provider settings for the projectName -->
				<add name="exampleProviderName" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="always" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false" />
			</providers>
		</linkManager>
		<sites>
			<site name="projectName">
				<patch:attribute name="linkProvider">exampleProviderName</patch:attribute>
				<patch:attribute name="language">en</patch:attribute>
				<patch:attribute name="supportedLanguages">en</patch:attribute>
			</site>
		</sites>
	</sitecore>
</configuration>
