@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ContentSectionModel>
<h3 class="mt-3 mb-3">@Model.Heading</h3>
<div class="rich-text">@Model.Copy</div>
@if (this.IsEditing || !string.IsNullOrEmpty(Model.TrailingLinkUrl))
{
	<div>
		@Model.TrailingLink
	</div>
}
