<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Feature.ItemSorting" version="9.1.3.28240" targetFramework="net471" />
  <package id="Constellation.Feature.Navigation" version="9.1.8.16491" targetFramework="net471" />
  <package id="Constellation.Feature.PageAnalyticsScripts" version="9.1.6.16542" targetFramework="net471" />
  <package id="Constellation.Feature.PageTagging" version="9.1.6.16588" targetFramework="net471" />
  <package id="Constellation.Feature.PageTagging.SitemapXml" version="9.1.7.17210" targetFramework="net471" />
  <package id="Constellation.Feature.Redirects" version="9.1.6.19219" targetFramework="net471" />
  <package id="Constellation.Feature.UrlFriendlyPageNames" version="9.1.2.16140" targetFramework="net471" />
  <package id="Constellation.Foundation.Caching" version="9.1.3.26256" targetFramework="net471" />
  <package id="Constellation.Foundation.Contexts" version="9.1.2.19985" targetFramework="net471" />
  <package id="Constellation.Foundation.Data" version="9.1.2.20242" targetFramework="net471" />
  <package id="Constellation.Foundation.Datasources" version="9.1.2.23267" targetFramework="net471" />
  <package id="Constellation.Foundation.Globalization" version="9.1.2.20734" targetFramework="net471" />
  <package id="Constellation.Foundation.Linking" version="9.1.3.28630" targetFramework="net471" />
  <package id="Constellation.Foundation.ModelMapping" version="9.1.6.15984" targetFramework="net471" />
  <package id="Constellation.Foundation.Mvc" version="9.1.4.23692" targetFramework="net471" />
  <package id="Constellation.Foundation.Mvc.Patterns" version="9.1.7.16430" targetFramework="net471" />
  <package id="Constellation.Foundation.PackageVerification" version="9.1.2.20552" targetFramework="net471" />
  <package id="Constellation.Foundation.PageNotFound" version="9.1.2.23026" targetFramework="net471" />
  <package id="Constellation.Foundation.SitemapXml" version="9.1.5.26323" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net471" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.20" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net471" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Sitecore.Abstractions" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Client" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.ContentSearch" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.Data" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.ContentSearch.Linq" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Logging" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Logging.Client" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Nexus" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Nexus.Consumption" version="1.0.1" targetFramework="net471" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net471" />
  <package id="Sitecore.NVelocity" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Publishing.WebDeploy" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Web" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.Zip" version="9.1.1" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net471" />
  <package id="WebMarkupMin.Core" version="2.5.6" targetFramework="net471" />
  <package id="WebMarkupMin.Mvc" version="1.1.0" targetFramework="net471" />
  <package id="WebMarkupMin.Web" version="1.1.1" targetFramework="net471" />
  <package id="X.PagedList" version="7.6.0" targetFramework="net462" />
  <package id="X.PagedList.Mvc" version="7.5.0" targetFramework="net471" />
</packages>