@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.CallToActionCardModel>
<div>
	@Model.ImageHeader.Rendered
	<h5>@Model.Heading</h5>
	<div>@Model.CardText</div>
	<div>@Model.ButtonLink.Rendered</div>
</div>