@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ContentSectionModel>
<div class="card h-100">
	<div class="card-body">
		<h5 class="card-title">@Model.Heading</h5>
		<div class="card-text">@Model.Copy</div>
	</div>
	<div class="card-footer">@Model.TrailingLink</div>
</div>