@*<section class="alerts" data-module="alerts" data-endpoint="/alerts/_active">
</section>*@
<section class="alerts" data-module="alerts" data-endpoint="/alerts/_active" data-cookie-name="alerts">
</section>
